*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all;
    transition-duration: 1s;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 150px;
    padding: 0px 150px 0px 150px;
}

.nav-left{
    position: relative;
}

.nav-left input{
    border: none;
    background-color:white;
    border-radius: 50px;
    padding:7px 0px 9px 36px;
    color: #606770;
    font-size: 15px;
    width: 50%;
    height: 40px;
}

.nav-left .fa-magnifying-glass{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 10px;
    top: 12px;
}

.nav-left input:focus{
    outline: none;
}

.nav-left input:hover{
    transform: translateX(2px);
}


.nav-middle{
    border: 3px solid rgb(71, 71, 71);
    padding: 5px;
    font-size: large;
    font-weight: bold;
    margin-left: -50px;
}

.nav-middle a{
    text-decoration: none;
    color:rgb(66, 65, 65);
}

.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-right i{
    margin: 7px;
    font-size: 150%;
}

.nav-right sup{
    color: white;
    background-color: blueviolet;
    font-size:10px;
    padding: 8px;
    border-radius: 90%;
    position: absolute;
    top: -20px;
    left: 100px;
}

.nav-right a{
    text-decoration: none;
    color:gray;
}

.nav-right a:hover{
    color: black;
    transition: none;
}

nav .bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    list-style: none;
    padding: 0px 300px 20px 300px;
    font-size:large;
    font-weight: bold;
    width: 100%;
}

nav .bottom a{
    text-decoration: none;
    color: #606770;
}

nav .bottom li:hover{
    color: blueviolet;
}

nav .bottom .home:hover{
    color: blueviolet;
}

nav .bottom .about:hover{
    color: #8a2be2;
}

nav .home{
    border: none;
    font-size: large;
    font-weight: bold;
    color: #606770;
}

nav .about{
    border: none;
    font-size: large;
    font-weight: bold;
    color: #606770;
}


nav .nav-end{
    width: 100%;
    height: 70px;
    margin-bottom: 7%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

nav .nav-end p{
    margin-left: 100px;
    font-size: large;
    font-weight: bold;
}

nav .nav-end span{
    color: blueviolet;
}

.sec1{
    width: 100%;
    padding:0px 100px 0px 100px;
    margin-bottom: 10%;
}

.sec1 table{
    border:  1px solid gray;
    width: 100%;
    margin-bottom: 5%;
}

.sec1 .TR1{
    border:1px solid whitesmoke;
}

.sec1 .TR1 td{
    padding: 20px 5px 20px 5px;
    text-align: center;
}

.sec1 .TR2{
    border:1px solid whitesmoke;
}

.sec1 .TR2 td{
    padding: 20px;
    text-align: center;
    width: 300px;
}

.sec1 .TR2 td img{
    width: 90%;
}

.sec1 .num{
    margin-bottom: 5%;
}

.sec1 .num input{
    padding: 20px;
    border-radius: 5px;
    width: 140px;
    text-align:center;
    font-weight: bold;
    border: 2px solid blueviolet;
}

.sec1 .num .bt1{
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 512px;
    left: 882px;
    font-weight: bolder;
    color:blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .num .bt1:hover{
    background-color:blueviolet;
    color: white;
}

.sec1 .num .bt2{
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 512px;
    left: 793px;
    font-weight: bolder;
    color:blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .num .bt2:hover{
    background-color:blueviolet;
    color: white;
}

.sec1 .bt3{
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color:white;
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .bt3:hover{
    background-color:white;
    color:blueviolet;
}

.sec1 .TR3{
    border:1px solid whitesmoke;
}

.sec1 .TR3 td{
    padding: 20px;
    text-align: center;
    width: 300px;
}

.sec1 .TR3 td img{
    width: 90%;
}

.sec1 .num1{
    margin-bottom: 5%;
}

.sec1 .num1 input{
    padding: 20px;
    border-radius: 5px;
    width: 140px;
    text-align:center;
    font-weight: bold;
    border: 2px solid blueviolet;
}

.sec1 .num1 .bt1{
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 665px;
    left: 882px;
    font-weight: bolder;
    color:blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .num1 .bt1:hover{
    background-color:blueviolet;
    color: white;
}

.sec1 .num1 .bt2{
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 665px;
    left: 793px;
    font-weight: bolder;
    color:blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .num1 .bt2:hover{
    background-color:blueviolet;
    color: white;
}

.sec1 .bt3{
    padding: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color:white;
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

.sec1 .bt3:hover{
    background-color:white;
    color:blueviolet;
}

.sec1 .button {
    display: flex;
    justify-content: space-between;
}


.sec1 .button .button1{
    padding: 11px;
    width: 200px;
    border-radius: 6px;
    color: white;
    background-color: blueviolet;
    border:1px solid blueviolet;
    margin-right:25px;
}

.sec1 .button .button1:hover{
    transform: scale(1.1)
}

.sec1 .button .button2{
    padding: 11px;
    width: 200px;
    border-radius: 6px;
    color:blueviolet;
    background-color:white;
    border:1px solid blueviolet;
}

.sec1 .button .button2:hover{
    transform: scale(1.1)
}

.sec1 .button .left .button1{
    margin-bottom: 10%;
}

.sec1 .button .left h2{
    margin-bottom: 4%;
}

.sec1 .button .left p{
    margin-bottom: 4%;
    color: gray;
}

.sec1 .button input{
    padding: 10px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-right:25px;
    font-size: large;
}

.sec1 .button .button3{
    padding: 12px;
    width: 200px;
    border-radius: 6px;
    color: white;
    background-color:blueviolet;
    border:1px solid blueviolet;
}

.sec1 .button .button3:hover{
    transform: scale(1.1);
}

.sec1 .button .right .cart{
    margin-bottom: 15%;
}

.sec1 .button .right .cart h1{
    margin-bottom: 4%;
    text-align: end;
    margin-right: 20px;
}

.sec1 .button .right .cart hr{
    width: 400px;
    padding: 1.5px;
    color: #6067702b;
    background-color: #6067702b;
    border: none;
}

.sec1 .button .right .price{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.sec1 .button .right .price ul{
    list-style: none;
    font-size: large;
    font-weight: bold;
    color: #606770;
}

.sec1 .button ul li{
    margin-bottom: 40px;
}

.sec1 .button .right .checkout{
    text-align: center;
}

.sec1 .button .right .checkout button{
    padding: 20px;
    border-radius: 5px;
    width: 360px;
    font-size: large;
    font-weight: bold;
    margin-left: 5px;
    color: white;
    background-color:blueviolet;
    border:1px solid blueviolet;
}

.sec1 .button .right .checkout button:hover{
    transform: scale(1.1);
}

footer{
    margin-top: -120px;
    padding: 0px 50px 0px 50px;
    width: 100%;
    height: 750px;
}

footer .div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .top{
    margin-left: -45px;
}

footer .left-side .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

footer .bottom .ul1 ul{
    list-style: none;
    margin-right: 30px;
}

footer .bottom .ul1 li{
    margin: 0px 0px 20px 100px;
}

footer .bottom .ul2 ul{
    list-style: none;
    margin-right: 10px;
}

footer .bottom .ul2 li{
    margin-left: 20px;
    margin: 0px 0px 20px 100px;
}

footer .bottom .ul3 ul{
    list-style: none;
}

footer .bottom .ul3 li{
    margin-left: 20px;
    margin: 0px 0px 20px 100px;
}

footer .right-side{
    display: flex;
    justify-content: space-between;
}

footer .right-side .left{
    margin-right: 80px;
}

footer .right-side .left ul {
    list-style: none;
}

footer .right-side .left h2{
    margin-top: 220px;
    margin-bottom: 30px;
}

footer .right-side .left h4{
    color: blueviolet;
    margin-top: 20px;
}

footer .right-side .left p{
    margin-top: 10px;
}

footer .right-side .left ul img{
    width: 300px;
}

footer .right-side .right{
    position: relative;
    margin-right: 30px;
}

footer .right-side .right h2{
    margin-top: 220px;
    margin-bottom: 30px;
}

footer .one-icon{
    display: flex;
}

footer .one-icon i{
    color: blueviolet;
    margin-right: 10px;
    margin-bottom: 40px;
}

footer .two-icon{
    display: flex;
}

footer .two-icon i{
    color: blueviolet;
    margin-right: 10px;
    margin-bottom: 40px;
}

footer .three-icon{
    display: flex;
}

footer .three-icon i{
    color: blueviolet;
    margin-right: 10px;
    margin-bottom: 90px;
}

footer h3{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 55;
}

footer input{
    padding: 15px 30px 15px 15px;
    border-radius: 5px;
}
footer button{
    position: absolute;
    top: 537px;
    left: 140px;
    padding: 15px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

footer .end-text{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

footer .end-text .name{
    color: blueviolet;
}